@model E_CODING_MVC_NET6_0.Models.TemplateTechniqueVM


<div class="row">
    <div class="col-md-12">
        <div class="row">

            <div class="col-md-4">
                <div>
                    <strong><label asp-for="TemplateTechniqueId" class="control-label"></label></strong>
                </div>
                <div>
                    <strong><label asp-for="TemplateProjectId" class="control-label"></label></strong>
                </div>
                <div>
                    <strong><label asp-for="TemplateTechniqueName" class="control-label"></label></strong>
                </div>
                <div>
                    <strong><label asp-for="TemplateTechniqueVersion" class="control-label"></label></strong>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <input asp-for="TemplateTechniqueId" class="form-control" />
                    <span asp-validation-for="TemplateTechniqueId" class="text-danger"></span>
                </div>
                <div>
                    <input asp-for="TemplateProjectId" class="form-control" />
                    <span asp-validation-for="TemplateProjectId" class="text-danger"></span>
                </div>
                <div>
                    <input asp-for="TemplateTechniqueName" class="form-control" />
                    <span asp-validation-for="TemplateTechniqueName" class="text-danger"></span>
                </div>
                <div>
                    <input asp-for="TemplateTechniqueVersion" class="form-control" />
                    <span asp-validation-for="TemplateTechniqueVersion" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <img src="~/Images/software/soft3.jpg" />
            </div>
        </div>
    </div>

    <div class="col-md-12" runat="server">
        <h2>Liste des TemplateTechniqueItem</h2>
        <table class="table table-responsive table-striped table-bordered table-hover"
               id="TableTechniqueItemId"
               cellspacing="0"
               align="center"
               width="100%">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Edit</th>
            </tr>
        </table>
    </div>

    <div class="col-md-12">
        <h1>Edition EntityDescription</h1>
        <textarea id="textareTitle" class="mytextarea"></textarea>
    </div>

    <div class="col-md-12">
        <h1>Edition EntityContent</h1>
        <textarea id="textareDescription" class="mytextarea"></textarea>
    </div>


</div>






@section scripts {

    <script type="text/javascript">

    $(document).ready(function () {

            var details = '<input type="button" value="Details" class="btn btn-primary" />';
            var edit = '<input type="button" value="Edit" class="btn btn-success" />';

            var templateTechniqueId = @Model.TemplateTechniqueId.ToString();
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "@Url.Action("TemplateTechniqueItems")",
                data: { "id": templateTechniqueId },
                success: function (result) {
                    var client = '';
                    for (var i = 0; i < result.length; i++) {
                        client += '<tr>';
                        client += '<td>' + result[i].TemplateTechniqueItemName + '</td>';
                        client += '<td>' + result[i].TemplateTechniqueItemDescription + '</td>';
                        client += '<td><a href="EditTemplateTechniqueItem?id=' + result[i].TemplateTechniqueItemId + '">' + edit + '</a></td>';
                        client += '</tr>';
                    }
                    $('#TableTechniqueItemId').append(client);
                }
            });

            tinymce.init({
                selector: '.mytextarea'
            });

        $('#textareTitle').html('@Model.TemplateTechniqueTitle');
        $('#textareDescription').html('@Model.TemplateTechniqueDescription');


    });

    </script>

}