<div style="text-align:center">
    <div class="row">
        <div class="col-md-6">
            <h1>Template Technique</h1>
            <div id="Technique" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target="#Technique" data-slide-to="0" class="active"></li>
                    <li data-target="#Technique" data-slide-to="1"></li>
                    <li data-target="#Technique" data-slide-to="2"></li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Images/software/soft1.jpg" />
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/software/soft2.jpg" />
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/software/soft3.jpg" />
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/software/soft4.jpg" />
                    </div>
                </div>
                <a class="carousel-control-prev" href="#Technique" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#Technique" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <h1>Template Result</h1>
            <div id="Result" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target="#Result" data-slide-to="0" class="active"></li>
                    <li data-target="#Result" data-slide-to="1"></li>
                    <li data-target="#Result" data-slide-to="2"></li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Images/Document/Excel.jpg" />
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/Document/Office.jpg" />
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/Document/POWERPOINT.png" />
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/Document/Word.jpg" />
                    </div>
                </div>
                <a class="carousel-control-prev" href="#Result" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#Result" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </div>
</div>