@model E_CODING_MVC_NET6_0.Models.TemplateResultItemVM

<form asp-action="CreateTemplateResultItem">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-4">
            <img src="~/Images/Document/Office.jpg" />
        </div>
        <div class="col-md-4">
            <div><label asp-for="TemplateResultItemId" class="control-label"></label></div>
            <div><label asp-for="TemplateResultId" class="control-label"></label></div>
            <div><label asp-for="TemplateTechniqueId" class="control-label"></label></div>            
            <div><label asp-for="TemplateProjectId" class="control-label"></label></div>            
            <div><label asp-for="TemplateResultItemName" class="control-label"></label></div>            
            <div><label asp-for="TemplateResultItemVersion" class="control-label"></label></div>            
            <div><label asp-for="TemplateResultItemVersionNET" class="control-label"></label></div>            
            <div><label asp-for="TemplateResultItemTitle" class="control-label"></label></div>            
            <div><label asp-for="TemplateResultItemDescription" class="control-label"></label></div>            
        </div>
        <div class="col-md-4">
            <div>
                <input asp-for="TemplateResultItemId" class="form-control" />
                <span asp-validation-for="TemplateResultItemId" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="TemplateResultId" class="form-control" />
                <span asp-validation-for="TemplateResultId" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="TemplateTechniqueId" class="form-control" />
                <span asp-validation-for="TemplateTechniqueId" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="TemplateProjectId" class="form-control" />
                <span asp-validation-for="TemplateProjectId" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="TemplateResultItemName" class="form-control" />
                <span asp-validation-for="TemplateResultItemName" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="TemplateResultItemVersion" class="form-control" />
                <span asp-validation-for="TemplateResultItemVersion" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="TemplateResultItemVersionNET" class="form-control" />
                <span asp-validation-for="TemplateResultItemVersionNET" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="TemplateResultItemTitle" class="form-control" />
                <span asp-validation-for="TemplateResultItemTitle" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="TemplateResultItemDescription" class="form-control" />
                <span asp-validation-for="TemplateResultItemDescription" class="text-danger"></span>
            </div>
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>

    </div>

</form>

